/* Ready for SCSS */

/* style.css will override child-theme.scss,
   so staging sites can add CSS easily,
   just remember to add it here later */

/* ************************************************************************** */
/* ******************************** General ********************************* */
/* ************************************************************************** */

span.line {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.san-serif {
  @include sanSerif;
}

.uppercase {
  text-transform: uppercase;
}

span.special_amp {
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: normal;
}

/* ************************************************************************** */
/* **************************** Contact Form 7 ****************************** */
/* ************************************************************************** */

form.wpcf7-form {

.one-half,
.one-third {
    position: relative;
    margin-right: 4%;
    float: left;
        margin-bottom: 20px;

}

.one-half { width: 48%; }
.one-third { width: 30.66%; }

.last {
    margin-right: 0 !important;
    clear: right;
}

@media only screen and (max-width: 767px) {
    .one-half, .one-third {
        width: 100%;
        margin-right: 0;
    }
}

} //end of form.wpcf7-form




/* ************************************************************************** */
/* ****************************** Navigation ******************************** */
/* ************************************************************************** */


/* ************************************************************************** */
/* ******************************* Footer ********************************* */
/* ************************************************************************** */


/* ************************************************************************** */
/* ******************************* Homepage ********************************* */
/* ************************************************************************** */


/* ************************************************************************** */
/* ******************************* About Us ********************************* */
/* ************************************************************************** */


/* ************************************************************************** */
/* *************************** Meet The Doctor ****************************** */
/* ************************************************************************** */


/* ************************************************************************** */
/* *************************** Testimonials ********************************* */
/* ************************************************************************** */


/* ************************************************************************** */
/* ****************************** Contact *********************************** */
/* ************************************************************************** */
