/* Ready for SCSS */
/* ************************************************************************** */
/* ******************************** General ********************************* */
/* ************************************************************************** */
span.line {
  display: inline-block; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.san-serif {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.uppercase {
  text-transform: uppercase; }

span.special_amp {
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: normal; }

/* ************************************************************************** */
/* ****************************** Navigation ******************************** */
/* ************************************************************************** */
/* ************************************************************************** */
/* ******************************* Footer ********************************* */
/* ************************************************************************** */
/* ************************************************************************** */
/* ******************************* Homepage ********************************* */
/* ************************************************************************** */
/* ************************************************************************** */
/* ******************************* About Us ********************************* */
/* ************************************************************************** */
/* ************************************************************************** */
/* *************************** Meet The Doctor ****************************** */
/* ************************************************************************** */
/* ************************************************************************** */
/* *************************** Testimonials ********************************* */
/* ************************************************************************** */
/* ************************************************************************** */
/* ****************************** Contact *********************************** */
/* ************************************************************************** */
